img {
    width: 520px;
    height: auto;
}

.card {
    margin-top: 10px;
}

.selectores{
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.selector {
  margin-bottom: 25px;
}

label {
    margin-top: 20px;
}

.searchPob{
    margin-bottom: 10px;
}