img {
    width: 520px;
    height: auto;
}

.card {
    margin-top: 10px;
}

.selectores{
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

input {
    margin-top: 20px;
}